.top-nav-bar {
  -moz-box-shadow: 0 4px 6px -6px #222;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  align-items: center;
  box-shadow: 0 4px 6px -6px #222;
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  padding: 8px;
}

.top-nav-bar__logo {
  color: #111;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  margin-left: 24px;
  text-decoration: overline;
  text-underline-position: auto;
}